body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 180px;
  height: 100vh;
  background: #0b2c4d;
  color: #fff;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h2 {
  margin: 0;
}

.logo p {
  font-size: 12px;
  color: #ccc;
}

.menu {
 list-style:none;
  padding:0;
  margin:0;
  width:200px; 
}

.menu li {
  
   display:flex;
  align-items:center;      
  padding:10px 15px;
  cursor:pointer;
  border-radius:6px;
  gap:10px;   
}

.menu li i {
   width:20px;              
  text-align:center;  
}

.menu li:hover,
.menu li.active {
  background: #1c4f80;
}

.content {
  flex: 1;
  background: #f4f6f9;
}

iframe {
  width: 100%;
  height: 100vh;
  border: none;
}
.logo .logo-img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}
button {
  display: flex;
  align-items: center;
  gap: 8px; /* space between icon and text */
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  background-color: #06446d; /* red button */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
   margin-left: 20px;
}

button i {
  font-size: 16px; /* icon size */
}

button:hover {
  background-color: #083466; /* darker red on hover */
}
